* {
  box-sizing: border-box;
}

html {
  font-family: Gill Sans, sans-serif;
  font-size: 14px;
  line-height: 10px;
}

body {
  background-color: white;
  font-color: #6F6F6F;
}

html, body {
  height: 100%;
  margin: 0;
}

.container {
  margin-bottom: -50px;
  min-height: 100%;
}

.main-container {
  background-color: white;
  margin: auto;
  width: 1000px;
}

nav {
  overflow: hidden;
  padding-top: 60px;
  width: auto;
}

nav ul {
  float:right;
}

nav li {
  float: left;
  padding-left: 35px;
}

nav li a {
  color: black;
  display: block;
  float: left;
  font-family: Work Sans, sans-serif;
  list-style: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

nav img {
  height: 50px;
  width: auto;
}

header img {
  float: right;
  height: 500px;
  position: relative;
  width: 750px;
}

header div {
  background: white;
  border: 20px solid white;
  margin-top: 200px;
  float: left;
  padding: 30px;
  position: absolute;
  width: 500px;
}

header h1 {
  font-family: "Josefin Sans";
  font-kerning: 4%;
  font-size: 25px;
  padding-bottom: 15px;
}

header h4 {
  color: #6F6F6F;
  font-kerning: 4%;
  font-size: 18px;
  line-height: normal;
}

.row {
  margin: 10px auto;
  position: relative;
  text-align: center;
  width: 100%;
}

.row:after {
  clear: both;
  content:"";
}

.column {
  color: #6F6F6F;
  display: inline-block;
  height: 700px;
  margin: 10px;
  padding-top: 90px;
  width: 100%;
}

.column a {
  color: #6F6F6F;
  text-decoration: none;
}

.column p {
  font-size: 16px;
  padding: 15px;
}

.card1 {
  background: #F0F7FA;
  float: left;
  height: 500px;
  position: relative;
  text-align: left;
  width: 450px;
}

.card1, .card2 h3 {
  padding: 15px;
}

.card2 {
  background: #EFEFF2;
  float: right;
  height: 500px;
  position: relative;
  text-align: center;
  width: 450px;
}

h3 {
  font-size: 35px;
}

.card1 img {
  bottom: 0;
  display: block;
  display: table-cell;
  height: 370px;
  padding: 0 5px 10px 10px;
  position: absolute;
  right: 0;
}

.card2 img {
  display: block;
  display: table-cell;
  margin: 0 auto;
}

.card1 mark {
  background-color: #B6D8E7;
}

.card2 mark {
  background-color: #C4C4C4;
}

span {
  content: "\27F6";
}

mark {
  background-color: #ffcccc;
  display: inline-block;
  height: 6px;
  line-height: 0px;
  width: auto;
}

a:hover {
  text-decoration: line-through;
}

footer {
  border-top: .3px solid #C4C4C4;
  height: 50px;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
}

footer a {
  color: black;
  font-family: Work Sans, sans-serif;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}

footer h3 {
  font-family: Work Sans, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}
